* {
  font-family: "PT Sans", sans-serif;
}

.form-group > label {
  margin-left: 20px;
  margin-bottom: 5px;
  
}

.form-group > .btn {
  height: 80px;
  width: 30vw;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 35%;
  
}



h3{
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
}

.navbar{
  background-color: #9151a8;
}


.navbar-brand{
  margin: 0 50px;
}

.navbar-item{
  margin: 0 50px;
  color: #fff;
}



